<div>
    <div class="uk-section uk-padding-remove">
        <div class="uk-container">
            <div class="uk-inline uk-align-center">
                <div class="">
                    <img src="/assets/img/burger2.jpg">
                </div>
                <div class="uk-overlay uk-position-center">
                    <p id="overlay">
                    Eat-Da-Burger
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="uk-section uk-padding-remove">
        <div class="uk-container uk-align-center">
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div id="uneaten">
                    {{#each burgers}}
                        {{#unless devoured}}
                            <div>{{this.id}}. {{this.burger_name}}
                                <button dataid='{{this.id}}' class="devour uk-align-right uk-button uk-button-default uk-button-medium">Devour</button>
                            </div>
                        {{/unless}}
                    {{/each}}
                </div>
                <div>
                    <ul id="eaten" class="uk-list">
                        {{#each burgers}}
                            {{#if devoured}}
                                <li>{{this.id}}. {{this.burger_name}}</li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-padding-remove">
        <div id="form" class="uk-flex-inline">
            <div>
                <label class="uk-form-label">Burger Name</label>
                <input type="text" id="enter" class="uk-input uk-form-width-medium">
            </div>
            <button id="submit" class="uk-button uk-button-default uk-button-small">Submit</button>
        </div>
        <div>Enter a burger you want to eat. Click the submit button.</div>
    </div>
    <!-- This is the modal -->
    <div id="modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">You must include the word "burger"</h2>
            <button class="uk-modal-close uk-button uk-button-primary" type="button">Close</button>
        </div>
    </div>
</div>
